<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Folders</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="6" *ngFor="let folder of folders$ | async">
                <ion-button fill="outline" expand="block" [routerLink]="[folder.name]">
                    {{ folder.name }}
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
