<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button (click)="openMenu()" autoHide="true"></ion-menu-button>
        </ion-buttons>
        <ion-title class="title-font">Stockcheck</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-list-item
        [inventories]="inventories$ | async"
        (goToInventory)="goToInventory($event)"
    ></app-list-item>
    <!-- <ion-list>
        <ion-item
            *ngFor="let inventory of inventories$ | async"
            (click)="goToInventory(inventory.id)"
        >
            <ion-thumbnail slot="start">
                <ion-img [src]="inventory.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
                <h2>{{ inventory.name }}</h2>
                <p>Quantity: {{ inventory.quantity }}</p>
                <p>Price: €{{ inventory.price.toFixed(2) }}</p>
            </ion-label>
        </ion-item>
    </ion-list> -->

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="openBarcodeScanner()">
            <ion-icon name="barcode"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
